.form-container {
    height: 100%; 
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0); 
    font-family: Helvetica;
}

.form-container label {
    margin: 10px;
    background-color: rgb(85, 123, 204);
    color: rgb(245, 239, 239); 
}





.form-container button {
    margin: 0;
    background-color: rgb(255, 242, 0);
    position: relative;
    margin-left: 10px; 
}
