.form-container {
    height: 100%; 
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%; 
    background-color: rgb(70, 121, 230);
}

.form-container input email {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3vmin;
}

.form-container input password {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3vmin;
}

.form-container button {
    margin: 0;
    background-color: aquamarine;
}
