.Logo {
    height: 14vmin;
    width: 14vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25%;
    background-color: rgb(85, 123, 204);
    color: rgb(245, 239, 239); 
    font-size: 2.7vmin;
    border: .6vmin solid var(--tan-2);
    font-family: Helvetica;
    }