.CategoryList {
    list-style: none;
    padding: 0;
    font-size: 1.7vw;
    background-color: black;
    border-radius: 15%;
    }
    
    .CategoryList li {
    padding: .6vmin;
    text-align: center;
    border-radius: .5vmin;
    margin-bottom: .5vmin;
    color: #030303;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa;
    }
    
    .CategoryList li:hover:not(.active) {
    cursor: pointer;
    background-color: var(--orange);
    color: var(--white);
    }
    
    .CategoryList li.active {
    color: var(--text-dark);
    background-color: var(--tan-1);
    border: .1vmin solid var(--tan-3);
    }